<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjut.cf.mapper.BorderHonorRankMapper">
    <select id="pages" resultType="com.fjut.cf.pojo.po.BorderHonorRankPO">
        SELECT * FROM t_border_honor_rank
        ORDER BY reward_date DESC
        LIMIT #{startIndex},#{pageSize};
    </select>

    <select id="selectAllCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_border_honor_rank;
    </select>

    <select id="selectByUsername" resultType="com.fjut.cf.pojo.po.BorderHonorRankPO">
        SELECT * FROM t_border_honor_rank
        WHERE username_one = #{username}
        OR username_two = #{username}
        OR username_three = #{username}
        ORDER BY reward_date DESC
    </select>
</mapper>