<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjut.cf.mapper.BugReportedMapper">
    <insert id="insert">
    INSERT INTO t_bug_report
        (
        username,
        title,
        type,
        text,
        report_time,
        is_fixed
        )
        VALUES
        (
        #{bugReportPO.username},
        #{bugReportPO.title},
        #{bugReportPO.type},
        #{bugReportPO.text},
        #{bugReportPO.reportTime},
        #{bugReportPO.isFixed}
        );
    </insert>
</mapper>