<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.fjut.cf.mapper.DiscussPostMapper">
    <select id="all" resultType="team.fjut.cf.pojo.po.DiscussPostPO">
        SELECT * FROM t_discuss_post
        ORDER BY priority DESC
    </select>

    <select id="allCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_discuss_post;
    </select>
</mapper>