<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.fjut.cf.mapper.MallGoodsMapper">

    <select id="all" resultType="team.fjut.cf.pojo.po.MallGoods">
        SELECT * FROM t_mall_goods
    </select>

    <select id="allCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM t_mall_goods
    </select>

    <select id="selectByGoodsId" resultType="team.fjut.cf.pojo.po.MallGoods">
        SELECT 	id,
        name,
        cost,
        goods_type,
        stock,
        description,
        picture_url,
        visible,
        shelf_user,
        shelf_time,
        buy_limit,
        buy_verify_limit
        FROM
        t_mall_goods
        WHERE id = #{id}
    </select>

</mapper>