<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjut.cf.mapper.ProblemMapper">
    <select id="pagesFullProblemInfo" resultType="com.fjut.cf.pojo.po.ProblemInfoWithDifficultPO">
        SELECT tpi.id,
            tpi.problem_id,
            tpi.title,
            tpi.belong_oj_id,
            tpi.belong_problem_id,
            tpi.author,
            tpi.total_submit,
            tpi.total_ac,
            tpi.total_submit_user,
            tpi.total_ac_user,
            tpi.visible,
            tpi.judge_option,
            tpd.difficult_level
        FROM t_problem_info tpi
        LEFT JOIN t_problem_difficult tpd
        ON tpi.problem_id = tpd.problem_id
        WHERE 1=1
        <if test="title != null">
            AND tpi.title LIKE #{title}
        </if>
        <if test="tagId != null">
            AND tpi.problem_id IN
            (SELECT DISTINCT problem_id FROM t_problem_tag_record WHERE tag_id=#{tagId})
        </if>
        ORDER BY tpi.problem_id ASC
        LIMIT #{startIndex}, #{pageSize};
    </select>


</mapper>