<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.fjut.cf.mapper.ProblemInfoMapper">
    <update id="updateTotalSubmitAddOne">
        UPDATE t_problem_info
        SET total_submit = total_submit + 1
        WHERE problem_id = #{problemId};
    </update>

    <update id="updateTotalAcAddOne">
        UPDATE t_problem_info
        SET total_ac = total_ac + 1
        WHERE problem_id = #{problemId};
    </update>

    <update id="updateTotalSubmitUserAddOne">
        UPDATE t_problem_info
        SET total_submit_user = total_submit_user + 1
        WHERE problem_id = #{problemId};
    </update>

    <update id="updateTotalAcUserAddOne">
        UPDATE t_problem_info
        SET total_ac_user = total_ac_user + 1
        WHERE problem_id = #{problemId};
    </update>


    <select id="selectUnSolvedProblemsByUsername" resultType="team.fjut.cf.pojo.po.ProblemInfo">
        SELECT * FROM t_problem_info tpi
        WHERE  problem_id NOT IN
        (
            SELECT problem_id
            FROM t_user_problem_solved tps
            WHERE solved_count > 0
            AND tps.username = #{username}
        );
    </select>
</mapper>