<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.fjut.cf.mapper.ProblemTagMapper">
    <select id="all" resultType="team.fjut.cf.pojo.po.ProblemTagPO">
        SELECT 	id,
        name,
        tag_type,
        create_user,
        priority
        FROM
        t_problem_tag;
    </select>
</mapper>