<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.fjut.cf.mapper.SystemInfoMapper">
    <insert id="insert">
        INSERT INTO t_system_info
        (
        `name`,
        `value`,
        `insert_time`
        ) VALUES
        (
        #{systemInfoPO.name},
        #{systemInfoPO.value},
        #{systemInfoPO.insertTime}
        );
    </insert>

    <update id="update">
        UPDATE t_system_info
        SET
        `name` = #{systemInfoPO.name},
        `value` = #{systemInfoPO.value},
        `insert_time` = #{systemInfoPO.insertTime}
        WHERE id = #{systemInfoPO.id};
    </update>

    <select id="selectByName" resultType="team.fjut.cf.pojo.po.SystemInfoPO">
        SELECT
        *
        FROM
        t_system_info
        WHERE name = #{name};
    </select>
</mapper>