<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.fjut.cf.mapper.UserSealRecordMapper">

    <select id="selectByUsername" resultType="team.fjut.cf.pojo.po.UserSealRecordPO">
        SELECT 	id,
        username,
        seal_id,
        obtain_time,
        expired_time
        FROM t_user_seal_record
        WHERE username = #{username};
    </select>
</mapper>