<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjut.cf.mapper.UserCheckInMapper">
    <insert id="insert">
        INSERT INTO t_user_check_in
        (id,
        username,
        check_time,
        info,
        ip_address
        )
        VALUES
        (#{userCheckInPO.id},
        #{userCheckInPO.username},
        #{userCheckInPO.checkTime},
        #{userCheckInPO.info},
        #{userCheckInPO.ipAddress}
        );
    </insert>

    <select id="selectCheckInByUsername" resultType="com.fjut.cf.pojo.po.UserCheckInPO">
        SELECT
        id,
        username,
        check_time,
        info,
        ip_address
        from
        t_user_check_in
        WHERE username = #{username}
        ORDER BY check_time DESC;
    </select>

    <select id="pagesByUsername" resultType="com.fjut.cf.pojo.po.UserCheckInPO">
        SELECT
        id,
        username,
        check_time,
        info,
        ip_address
        from
        t_user_check_in
        WHERE username = #{username}
        ORDER BY check_time DESC
        LIMIT #{startIndex}, #{pageSize};
    </select>

    <select id="selectCountTodayCheckInByUsername" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_user_check_in
        WHERE username = #{username}
        AND TO_DAYS(check_time) = TO_DAYS(NOW());
    </select>

</mapper>
