<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.fjut.cf.mapper.UserBaseInfoMapper">

    <update id="updateAcNumAddOneByUsername">
        UPDATE t_user_base_info
        SET ac_num = ac_num + 1
        WHERE username = #{username};
    </update>

    <select id="selectByUsername" resultType="team.fjut.cf.pojo.po.UserBaseInfo">
        SELECT id,
               username,
               gender,
               email,
               phone,
               motto,
               register_time,
               rating,
               ranking,
               ac_num,
               acb,
               school,
               faculty,
               major,
               cla,
               student_id,
               graduation_year
        FROM t_user_base_info
        WHERE username = #{username}
    </select>

    <select id="allAcbTop" resultType="team.fjut.cf.pojo.po.UserBaseInfo">
        SELECT username,
               nickname,
               acb
        FROM t_user_base_info
                 left join t_user_custom_info
                           ON t_user_base_info.username = t_user_custom_info.username
        ORDER BY acb DESC, rating DESC
    </select>

    <select id="allAcNumTop" resultType="team.fjut.cf.pojo.po.UserBaseInfo">
        SELECT username,
               nickname,
               ac_num
        FROM t_user_base_info
                 left join t_user_custom_info
                           ON t_user_base_info.username = t_user_custom_info.username
        ORDER BY ac_num DESC, rating DESC
    </select>

    <select id="allRatingTop" resultType="team.fjut.cf.pojo.po.UserBaseInfo">
        SELECT username,
               nickname,
               rating
        FROM t_user_base_info
                 left join t_user_custom_info
                           ON t_user_base_info.username = t_user_custom_info.username
        ORDER BY rating DESC
    </select>
</mapper>