<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjut.cf.mapper.UserMessageMapper">
    <insert id="insert">
        insert into t_user_message
            (
            username,
            status,
            title,
            text,
            time
            )
            values
            (
            #{userMessagePO.username},
            #{userMessagePO.status},
            #{userMessagePO.title},
            #{userMessagePO.text},
            #{userMessagePO.time}
            );
    </insert>

    <update id="updateSetReadByUsernameAndId">
        UPDATE t_user_message
        SET status = 1
        WHERE id = #{id}
        AND username = #{username};
    </update>

    <update id="updateSetAllReadByUsername">
        UPDATE t_user_message
        SET status = 1
        WHERE
        status != 1
        AND username = #{username};
    </update>

    <select id="pagesByUsername" resultType="com.fjut.cf.pojo.po.UserMessagePO">
        SELECT id,
            username,
            status,
            title,
            text,
            time
            FROM t_user_message
        WHERE username = #{username}
        ORDER BY time DESC
        LIMIT #{startIndex}, #{pageSize};
    </select>

    <select id="selectCountUserMessageByUsername" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_user_message
        WHERE username = #{username};
    </select>

    <select id="pagesUnreadByUsername" resultType="com.fjut.cf.pojo.po.UserMessagePO">
        SELECT id,
            username,
            status,
            title,
            text,
            time
            FROM t_user_message
        WHERE username = #{username}
        AND status = 0
        ORDER BY time DESC
        LIMIT #{startIndex}, #{pageSize};
    </select>

    <select id="selectCountUnreadByUsername" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_user_message
        WHERE username = #{username}
        AND status = 0;
    </select>
</mapper>