<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.fjut.cf.mapper.ViewJudgeStatusMapper">
    <select id="pagesByConditions" resultType="team.fjut.cf.pojo.po.ViewJudgeStatusPO">
        SELECT * FROM v_judge_status
        WHERE 1=1
        <if test="contestId != null">
            AND contest_id = #{contestId}
        </if>
        <if test="nick != null">
            AND nick LIKE #{nick}
        </if>
        <if test="problemId != null">
            AND problem_id = #{problemId}
        </if>
        <if test="result != null">
            AND result = #{result}
        </if>
        <if test="language != null">
            AND language = #{language}
        </if>
        ORDER BY id DESC
        LIMIT #{startIndex}, #{pageSize};
    </select>

    <select id="selectCountByConditions" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM v_judge_status
        WHERE 1=1
        <if test="contestId != null">
            AND contest_id = #{contestId}
        </if>
        <if test="nick != null">
            AND nick LIKE #{nick}
        </if>
        <if test="problemId != null">
            AND problem_id = #{problemId}
        </if>
        <if test="result != null">
            AND result = #{result}
        </if>
        <if test="language != null">
            AND language = #{language}
        </if>;
    </select>

    <select id="queryById" resultType="team.fjut.cf.pojo.po.ViewJudgeStatusPO">
        SELECT * FROM v_judge_status
        WHERE id = #{id};
    </select>
</mapper>